/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to right, #1bdf01, #ea610c);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 50px; /* Space between logo section and the form */
}

.welcome-text {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* Form Layout */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-item-full {
    grid-column: span 2;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

.ant-form-item {
    margin-bottom: 16px;
}

input, .ant-picker, .ant-select-selector {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button Styles */
.submit-btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff7300;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #00a2cc;
    transform: translateY(-2px);
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
