/* PresidentMessagePage.css */
.president-message-page {
    padding: 40px 20px;
  }
  
  .president-message-page h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .president-message-page section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .president-message-page section p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  .president-message{
    width: 95%;
  }
  