.header{
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: #2B1D1B;
  z-index: 1000;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;

  
}

.header-left{
  font-size: 2.5rem;
  font-weight: bold;
  color: #1DA57A;

}

.header-right{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 2rem;
}

nav ul {
  width: 100%;
  list-style-type: none;
  
  display: flex;
  flex-flow: row nowrap;
  padding: 0; 
  margin: 0; 
}


nav li {
  width: 100%;
  margin: 0; 
  padding: 0.5rem; 
  white-space: nowrap;
}
nav .navlinks {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
  cursor: pointer;
  color: var(--text-color) ;
  font-weight : 500;
  text-decoration: none;
}

nav a:hover,
nav a:focus
nav a:active {
    color: var(--btn-focus-text-color);
    font-weight: 700  ;
}