/* General Styles */

.auth-title {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 3em; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin-bottom: 20px;
}

.sports-paragraph {
    font-family: 'Roboto', sans-serif; 
    font-size: 1em;
    line-height: 1.6; 
    color: #e0e0e0; 
    margin-bottom: 20px;
}

.sports-btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff; 
    background-color: #ff7300; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sports-btn:hover {
    background-color: #00a2cc; 
    transform: translateY(-2px);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    background: linear-gradient(to right, #1bdf01, #ea610c); 
}

.auth-description, .auth-content {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

/* Title Styles */
.auth-description .ant-typography-title,
.auth-content .ant-typography-title {
    font-size: 2.5em; 
    margin-bottom: 20px;
    color: #ffffff; 
}

/* Paragraph Styles */
.auth-description .ant-typography-paragraph,
.auth-content .ant-typography-paragraph {
    font-size: 1.1em;
    color: #e0e0e0; 
    margin-bottom: 20px; 
}

.club-logo {
    width: 450px;
    height: auto;
    padding-right: 80px; 
}

/* Input Styles */
.ant-form-item {
    margin-bottom: 20px; 
}

label {
    display: block;
    margin-bottom: 5px; /* Spacing between label and input */
    font-weight: bold;
    color: #e0e0e0; /* Label color */
}

.ant-input, .ant-input-password {
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    border: none; /* Remove default border */
    transition: all 0.3s ease; /* Smooth transition */
    background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent background */
}

.ant-input:focus, .ant-input-password:focus {
    box-shadow: 0 0 5px rgba(183, 178, 160, 0.5); 
    outline: none; 
}

/* Button Styles */
.ant-btn {
    border-radius: 5px; /* Rounded corners */
    width: 100%; /* Full width */
    padding: 10px;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.ant-btn-primary {
    background-color: #ff7300; 
    border: none; /* Remove border */
    font-weight: bold; 
}

.ant-btn-primary:hover {
    background-color: #00a2cc; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        align-items: center;
    }

    .auth-description {
        margin-bottom: 20px;
        margin-right: 0; 
    }

    .auth-content {
        margin-bottom: 20px;
        padding: 20px; 
    }

    .auth-description .ant-typography-title,
    .auth-content .ant-typography-title {
        font-size: 2em; 
    }
    
    .sports-title {
        font-size: 2.5em; 
    }

    .sports-paragraph {
        font-size: 1em;
    }

    .sports-btn {
        font-size: 1em; 
    }
}