*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* CSS HEX */
  --night-rider: #080604;
  --harlequin: #2bf92b;
  --pomegranate: #f15912;
  --saffron: #f5cc3e;
  --jaffa: #f49333;
  --rope: #8d5b1b;
  
  /* FOOTER AND HEADER STYLE */
  --background-color: #F7E9E6 ;
  --text-color: #4A3B36;

  /* MAIN COLOR*/
  --background-color-main: #f5f5f5 ;

  /* button style */
  --btn-background-color : #F47D45;
  --btn-text-color : #FFFF;
  --btn-hover-background-color: #F69467;
  --btn-hover-text-color: #FFFF ;


  --totem-pole: #9e1b08;
  --tia-maria: #d13710;
}


body #root{
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sure body takes full height */
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;  
  height: 100%;
  flex-grow: 1; /* Allows the App to take the available height */
}

.content-container {
  flex-grow: 1; /* Fills the remaining space between header and footer */
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-main)

}
.footer {
  background-color: var(--background-color);  
  color: var(--text-color);  
  padding: 20px;  
  text-align: center;
  font-size: 14px;  
  box-shadow:0px -5px 15px rgba(0, 0, 0, 0.1);   /* Slight shadow at the top */
}

/*
.ant-btn-primary {
  background-color: var(--btn-background-color) !important;
  color: var(--btn-text-color) !important;
  border: none !important;
  padding: 12px 24px !important;
  font-size: 16px !important ;
  font-weight: bold !important ;
  cursor: pointer !important ;
  border-radius: 5px !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.ant-btn-primary:hover {
  background-color: var(--btn-hover-background-color) !important;
  color: var(--btn-hover-text-color) !important;
  transform: scale(1.02); 
}
*/