.App{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;  
}
body #root{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}