
.gallery-page {
	text-align: center;
	padding: 20px;
  }
  
  .gallery h2 {
	margin-bottom: 20px;
	text-align: center;
  }
  
  .gallery {
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
  }
  
  .gallery__thumb {
	position: relative;
	overflow: hidden;
	width: 200px; /* Adjust the width as needed */
	height: 150px; /* Adjust the height as needed */
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
  }
  
  .gallery__thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
	border-radius: 10px;
  }
  
  .gallery__thumb:hover {
	transform: scale(1.1); /* Scale up the image */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  }
  
  .gallery__thumb:hover img {
	transform: scale(1.1); /* Scale up the image inside the container */
  }
  
  .gallery__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	transition: opacity 0.3s ease;
	opacity: 0;
  }
  
  .gallery__thumb:hover .gallery__caption {
	opacity: 1;
  }
  
  /* Modal Styles */
  .modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
  }
  
  .modal-content {
	position: relative;
	max-width: 90%;
	max-height: 90%;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	animation: slideInFromRight 0.5s ease-out; /* Animation for slide effect */
  }
  
  .modal-image {
	width: 100%;
	height: auto;
	border-radius: 10px;
  }
  
  
  
  /* Keyframes for sliding animation */
  @keyframes slideInFromRight {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
